/* ======================= common css start ============================ */
* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 21px 25px 20px 26px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
}

/* ======================= common css start ============================ */
/* ====================== banner part start here ======================= */
header {
    background-image: url(../images/banner3.png);
    background-repeat: no-repeat;
}

header .banner {
    padding: 216px 192px 166px 0;
    margin-left: 821px;
}

header .banner h1 {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

header .banner p {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

header .banner button {
    margin-left: 345px;
}

/* ====================== banner part end here ======================= */
/* ====================== my-failure-previous-year start here ======================= */
main #my-failure-previous-year {
    display: flex;
    column-gap: 105px;
}
main #my-failure-previous-year .image{
    margin: 140px 0 130px 229px;
}
main #my-failure-previous-year .text{
   margin: 370px 212px 214px 0;
}
main #my-failure-previous-year .text h2 {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
main #my-failure-previous-year .text P{
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
}
main #my-failure-previous-year .text .paragrph{
    margin-bottom: 16px;
}
main #my-failure-previous-year .text i{
    margin-right: 10px;
    color: #16D887;
    width: 24px;
}
/* ====================== my-failure-previous-year start here ======================= */