/* ======================= common css start ============================ */
* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 21px 25px 20px 26px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
}

/* ======================= common css start ============================ */
/* ====================== banner part start here ======================= */
header .banner {
    background-image: url(../images/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 216px 230px 166px 0;
}
header .banner .container{
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: end;
}

header .banner .text h1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    width: 525px;
}

header .banner .text p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
    width: 494px;
}

/* ====================== banner part end here ======================= */
/* ====================== my-failure-previous-year start here ======================= */
main #my-failure-previous-year {
    display: flex;
    column-gap: 105px;
    justify-content: center;
}

main #my-failure-previous-year .image {
    margin: 140px 0 130px 229px;
}

main #my-failure-previous-year .text {
    margin: 370px 212px 214px 0;
}

main #my-failure-previous-year .text h2 {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

main #my-failure-previous-year .text P {
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 8px;
}

main #my-failure-previous-year .text .paragrph {
    margin-bottom: 16px;
    width: 416px;
}

main #my-failure-previous-year .text i {
    margin-right: 10px;
    color: #16D887;
    width: 24px;
}

/* ====================== my-failure-previous-year end here ======================= */
/* ============================== my plans start here ============================= */
#my-plan {
    margin-bottom: 135px;
    text-align: center;
}

#my-plan h4 {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

#my-plan .main {
    display: flex;
    column-gap: 86px;
    justify-content: center;
    text-align: center;
}

#my-plan .main .plan .image {
    margin-bottom: 21px;
    text-align: center;
}

#my-plan .main .plan h5 {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

#my-plan .main .plan p {
    color: #737272;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ============================ my plans end here ======================== */
/* ====================== positive mind start here ======================= */
#positive-mindset {
    margin-bottom: 130px;
}

#positive-mindset .main-container {
    background-image: url(../images/gradient1.png),url(../images/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
    margin: 0 auto;
}

#positive-mindset .main-container .text {
    padding: 59px 617px 59px 64px;
}

#positive-mindset .main-container .text h3 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

/* ====================== positive mind end here ======================== */
/* ====================== footer part start here ======================== */
footer {
    background: #151414;
    padding: 130px 230px;
}

footer .container {
    display: flex;
    column-gap: 331px;
    justify-content: center;
}

footer .container .future-part h3 {
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

footer .container .future-part p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

footer .container .future-part .paragrph {
    margin-bottom: 24px;
}

footer .container .future-part .icon img {
    margin-right: 10px;
}

footer .container .subscribe h2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 31px;
}

footer .container .subscribe input {
    color: #F3F3F3;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 21px 158px 22px 21px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin-bottom: 16px;
}

footer .container .subscribe button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 36px;
    border-radius: 8px;
    background: #005FAC;
    border: 0;
}

/* ====================== footer part end here ======================== */